:root {
    --colorPurple: #9800ce;
    --colorGrey: rgb(87, 87, 87);
}

.textStyled span {

    animation: textNeon 5s ease-in-out infinite;
}

.textStyled span:nth-of-type(2) {
    animation-delay: 0.25s;
}

.textStyled span:nth-of-type(3) {
    animation-delay: 0.50s;
}

.textStyled span:nth-of-type(4) {
    animation-delay: 0.75s;
}

.textStyled span:nth-of-type(5) {
    animation-delay: 1s;
}

.textStyled span:nth-of-type(6) {
    animation-delay: 1.25s;
}

.textStyled span:nth-of-type(7) {
    animation-delay: 1.50s;
}



@keyframes textNeon {
    0% {
        color: #fff;
        text-shadow: 0 0 12px var(--colorPurple), 0 0 50px var(--colorPurple), 0 0 100px var(--colorPurple);
    }

    10%,
    90% {
        color: var(--colorGrey);
        text-shadow: none;
    }
}